.navbar {
  background-color: #fff159;
  display: flex;
  flex-wrap: wrap;
}
.no-close {
  display: none;
}
.navbar-img {
  margin-right: 20px;
  background-color: transparent;
  border: none;
}
.container-searchbar {
  width: 960px;
  margin-left: auto;
  padding-right: auto;
}
