.navbar{
    background-color: #fff159;
    display: flex;
    flex-wrap: wrap;
}

.no-close {
  display:none;
}
.navbar-img{
    margin-right: 20px;
}

.container-searchbar{
    width: 960px;
    margin-left: auto;
    padding-right: auto;

}
