<nav class="navbar">
  <div class="mx-auto container-searchbar">
    <div class="input-group">

      <button class="navbar-img"  (click)="irAlHome()">
        <img
          src="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.12.1/mercadolibre/logo__small.png"
          class="d-inline-block align-center"
        />
      </button>
      <input
        class="form-control border shadow-none ml-4"
        type="text"
        placeholder="Nunca dejes de buscar"
        (keyup.enter)="buscarItem(buscarTexto.value)"
        #buscarTexto
      />
      <span class="input-group-append">
        <button
          class="btn btn-light border shadow-none"
          (click)="buscarItem(buscarTexto.value)"
          type="button"
        >
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </div>
</nav>
