.nav-search{
    background-color: #fff159;
    border: 0;
    position: relative;
    display: block;
}

.navbar{
    background-color: #fff159;
}

.searchbar{
    align-self: center;
}

.nav-logo {
    background-image: url(https://http2.mlstatic.com/frontend-assets/ui-navigation/5.12.1/mercadolibre/logo__small.png);
    background-repeat: no-repeat;

}