<ul class="list-group d-flex bd-highlight">

<!--     <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      <div class="image-parent">
          <img src="..." class="img-fluid" alt="quixote">
      </div>
      <div class="flex-column">
        Don Quixote 
        <p><small>by Miguel de Cervantes</small></p>
        <span class="badge badge-info badge-pill"> 2 Copies in Stock</span>
      </div>
    </a> -->

    <div class="d-flex bd-highlight">
        <div class="p-2 bd-highlight">
            <img src="http://http2.mlstatic.com/D_933838-MLA41568063065_042020-I.jpg" class="img-fluid" alt="quixote">
            
        </div>
        <div class="d-flex flex-column  flex-grow-1 bd-highlight mb-3">
            <div class="p-2 bd-highlight">$ PRECIO</div>
            <div class="p-2 bd-highlight">TITULO</div>
            <div class="p-2 bd-highlight">Flex item 3</div>
          </div>
        <div class="container_3 p-2 bd-highlight">Third flex item</div>
      </div>

      <div class="d-flex bd-highlight">
        <div class="p-2 bd-highlight">
            <img src="http://http2.mlstatic.com/D_933838-MLA41568063065_042020-I.jpg" class="img-fluid" alt="quixote">
            
        </div>
        <div class="d-flex flex-column  flex-grow-1 bd-highlight mb-3">
            <div class="p-2 bd-highlight">$ PRECIO</div>
            <div class="p-2 bd-highlight">TITULO</div>
            <div class="p-2 bd-highlight">Flex item 3</div>
          </div>
        <div class="container_3 p-2 bd-highlight">Third flex item</div>
      </div>

      <div class="d-flex bd-highlight">
        <div class="p-2 bd-highlight">
            <img src="http://http2.mlstatic.com/D_933838-MLA41568063065_042020-I.jpg" class="img-fluid" alt="quixote">
            
        </div>
        <div class="d-flex flex-column  flex-grow-1 bd-highlight mb-3">
            <div class="p-2 bd-highlight">$ PRECIO</div>
            <div class="p-2 bd-highlight">TITULO</div>
            <div class="p-2 bd-highlight">Flex item 3</div>
          </div>
        <div class="container_3 p-2 bd-highlight">Third flex item</div>
      </div>
      
  </ul>