.div-image {
  width: 180px;
  height: 180px;
  align-items: center;
}
.image-item {
  max-width: 160px;
  max-height: 160px;
}

.container-items {
  background-color: white;
  max-width: 960px;
}

.container-items {
  width: 100%;
}
.container-breadcrumb {
  width: 960px;
}

a {
  text-decoration: none;
  color: black;
}
.label-amount {
  font-size: 17px;
}
.label-decimals {
  font-size: 10px;
}
p {
  font-size: 17px;
}
.label-breadcrumb {
  font-size: 14px;
  color: #666;
}
.fa-stack {
  margin-left: 2px;
  font-size: 0.8em;
}
i {
  vertical-align: middle;
}
