<div class="container-breadcrumb my-1 mx-auto">
  <span *ngFor="let crumb of breadcrumb; last as isLast">
     <a class="label-breadcrumb"  href="#/items?category={{ crumb.id }}"  *ngIf="isLast; else elseBlock"><span> {{ crumb.name }}</span></a>
        <ng-template #elseBlock>
          <a class="label-breadcrumb" href="#/items?category={{ crumb.id }}" #elseBlock><span> {{ crumb.name }} </span> </a>
          <a> <span> ></span></a>
        </ng-template>
  </span>
</div>
<div class="container-items mx-auto">
  <div *ngFor="let item of items" class="d-flex container-item border-bottom">
    <div class="p-2 div-image d-flex justify-content-center">
      <a href="#/items/{{ item.id }}">
        <img [src]="item.picture" class="image-item" />
      </a>
    </div>
    <div class="d-flex flex-column justify-content-start flex-grow-1 mb-3">
      <div class="pl-2 mt-4 d-flex flex-row" style="height: 25px">
        <a href="#/items/{{ item.id }}"
          ><h5 class="label-amount">
            {{
              item.price.amount
                | currency: item.price.currency:"symbol-narrow":".0-0"
                | separadorMiles
            }}
          </h5></a
        >
        <p *ngIf="item.price.decimals > 0" class="label-decimals">
          {{ item.price.decimals | number }}
        </p>
        <br /><br />
        <div *ngIf="item.free_shipping">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x" style="color: green"></i>
            <i
              class="fa fa-truck fa-stack-1x fa-inverse"
              style="color: #ededed"
            ></i>
          </span>
        </div>
      </div>
      <div class="label-title">
        <p>{{ item.title }}</p>
      </div>
    </div>

    <div class="align-self-center container-ubicacion">
      {{ item.state_name }}
    </div>
  </div>
</div>
